<div class="media">
  <%= link_to user, class: 'pull-left' do %>
  <% end %>
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to user.name, user %>
    </h4>
     </div>
</div>