<div class="page-heading">
    <h2>List of Wikiota Members</h2>
</div>
    <% @users.Article.all %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <p2><%= link_to user.name, @articles %></p2>
        </h4>
    </div>
  </div>
  