  <div class="page-heading">
    <h2>List of Wikiota Members</h2>
</div>

<table class="table table-striped table-bordered">
   <thead>
      <tr>
         <th>Members</th>
         <th># of Articles</th>
         <th># of Contributions</th>
      </tr>
   </thead>
   <tbody>
    <% @users.each do |user| %>
      <tr>
         <td><%= link_to user.name, user %></td>
         <td>article#count</td>
         <td>contrib#count</td>
      </tr>
    <% end %>
   </tbody>
</table>
  