  <div class="page-heading">
    <h2>List of Wikiota Members</h2>
</div>

<table class="table table-striped table-bordered">
   <thead>
      <tr>
         <th>Members</th>
      </tr>
   </thead>
   <tbody>
    <% @users.each do |user| %>
      <tr>
         <td><%= link_to user.name(:id) %></td>
      </tr>
    <% end %>
   </tbody>
</table>
  