

<table class="table">
   <h1><% @user.name %></h1>
   <thead>
      <tr>
         <th>Article</th>
         <th>Contributor</th>
         <th>Edit/Delete</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>Art1</td>
         <td>Cont1</td>
         <td>Edit button/Delete button</td>
      </tr>
      <tr>
         <td>Art2</td>
         <td>Cont2</td>
         <td>Edit button/Delete button</td>
      </tr>
   </tbody>
</table>