<div class="container">
   <div class="row" >
      <div class="col-xs-6 col-sm-3">
         <p>Create Wiki's for all to see or work in private until ready to make public.</p>
      </div>
      <div class="col-xs-6 col-sm-3" >
         <p>Need help? Become a PREMIUM member and be able to ADD contributors for a collaborative effort to make the Wiki better.
         </p>
         <p>Make a difference.
         </p>
      </div>

      <div class="clearfix visible-xs"></div>

      <div class="col-xs-6 col-sm-3">
         <p>We're waiting.
         </p>
      </div>
      <div class="col-xs-6 col-sm-3">
         <p>GET GOING!
         </p>
      </div>
   </div>
</div>



