 <h4></h4>

<div class="container">
   <div class="row" >
      <div class="col-xs-6 col-sm-10" 
         style="background-color: #E6E6E6;">
         <h1>Welcome to Wikiota</h1>

         <h2>A website for all 1iota team members to create and collaborate on wikis pretaining to anything 1iota.</h2>

         <h3>Get started now and <%= link_to "Sign in", new_user_session_path, class: 'btn btn-danger' %> or <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-danger' %>.</h3>

      </div>
    </div>
  </div>

      <div class="clearfix visible-xs"></div>







