

@import "bootstrap";

$font-stack:    Helvetica, sans-serif;
$primary-color: #343434;

.user-info {
  margin-top: -40px;
}

.pages {
  font-size: 20px;
}

.welcome {
  font-size: 20px;
}

h11 {
  font-size: 150px;
  text-align: center;
  color: $primary-color;
}

h1 {
  font-size: 20px;
  color: black;
}

h2 {
  font-size: 30px !important;
  text-align: left;
  color: $primary-color;
}

h3 {
  font-size: 20px;
  text-align: left;
  color: $primary-color;
}

h4 {
  color: $primary-color;
}

body {
  font: 100% $font-stack;
  background: #355F6B;
}

p {
  font-size: 15px;
  padding: 10px 0px 0px 10px;
  text-align: left;
}


a {
  color: $primary-color;
}

a:hover {
  color: #5bc0de;
  text-decoration: none;
}

th {
  font-size: 20px;
}

td {
  font-size: 15px;
}

small {
  font-size: 15px;
}

.media-heading {
  font-size: 40px;
  text-align: left;
  background-color: #E5EBED;
  height: auto !important;
  width: auto !important;
  border-radius: 6px;
  padding: 5px 5px 5px 10px;
  margin: 10px 100px 5px 0px;
}

.media-body {
  font-size: 25px;
  text-align: left;
  background-color: #E5EBED;
  height: auto !important;
  width: auto !important;
  border-radius: 6px;
  padding: 5px 5px 5px 10px;
  margin: 10px 100px 5px 0px;
}

.page-heading {
  background-color: #E5EBED;
  border-radius: 6px;
  margin-right: 100px;
}

.form-control {
  background-color: #E5EBED;
}

.form-group {
  font-size: 20px;
}


.btn {
  border-radius: 6px;
  font-size: 15px;
}

#searchform input {
  width: 120px;
  height: 46px;
  font-size: 15px;
  margin-top: -2px;
}

.col-xs-6 {
  padding: 40px;
  background-color: #E5EBED;
  border-radius: 6px;
  margin: 25px 0px 25px 0px;
  border-style: solid;
  border-width: 10px;
}

table {
  width: auto !important;
  padding: 5px;
  margin: 7px 0px 0px 0px;
  background-color: #E5EBED;
}






