@import "bootstrap";

.user-info {
  margin-top: 2px;
}

h1 {
  font-size: 150px;
  text-align: center;
  color: #6e6e6e;
}

h2 {
  text-align: center;
  color: #fff;
}

h3 {
  text-align: center;
  color: #fff;
}

body {
  background: #6e6e6e;
}

.form-control {
  background-color: #E6E6E6;
}

.row {
  background-color: #E6E6E6;
}

.btn {
  border-radius: 1px;
}
